<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2">
      <button class="btn btn-success" (click)="addSkills();">Add Skills</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-1">
      <button class="btn btn-primary" (click)="clearSkills();">Clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div *ngFor="let control of skills.controls; index as i">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <!-- <label for="enterName">Enter Name Here</label> -->
          <!-- code for formcontrol push to formArray -->
          <!-- <div>
            <input [formControl]="skills.controls[i]" id="enterName" class="form-control" />
            <button class="btn btn-danger" (click)="removeSkills(i)" style="margin-top: 5px;">Remove</button>
          </div> -->
          <ng-container [formGroup]="editForm">
            <div class="row">
              <div class="col-md-6">
                <label for="firstName">FirstName</label>
                <input id="firstName" class="form-control" #firstName formControlName="firstName" />
              </div>
              <div class="col-md-6">
                <label for="lastName">LastName</label>
                <input id="lastName" class="form-control" #lastName formControlName="lastName" />
              </div>
              <button class="btn btn-danger" (click)="removeSkills(i)" style="margin-top: 5px;">Remove</button>
              <button class="btn btn-danger" (click)="submit()" style="margin-top: 5px; margin-left: 10px">Submit</button>
            </div>
             <div class="row">
              <div class="col-md-12">
                <p>First Name : {{data.firstName}}</p>
                <p>lastName : {{data.lastName}}</p>
                <div *ngFor="let address of data.address">
                    <p>Block No : {{address.blockNo}}</p>
                    <p>Street : {{address.street}}</p>
                    <p>City : {{address.city}}</p>
                    <p>State : {{address.state}}</p>
                    <p>Pincode : {{address.pincode}}</p>
                </div>

              </div>
             </div>

          </ng-container>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-md-12">
    <app-personal-info [parentToChild]="checkOut" (nameCheck)="showData($event)"></app-personal-info>
   </div>
  </div>
</div>
